.form-container textarea
{
   width: auto !important;
   display: block;
   clear: both;
}

.datagrid .yui-dt-liner {
    font: 11px/1.231 arial,helvetica,clean,sans-serif;
    padding: 2px;
}

/* Custom CSS */
.yui-skin-lightTheme .yui-dt th .yui-dt-liner {
    white-space: break-spaces !important;
}