.yui-panel
{
   width: auto !important;
   min-width: 10em !important;
}

.form-container textarea
{
   width: auto !important;
   display: block;
   clear: both;
}

.yui-skin-promInn .yui-dt th .yui-dt-liner {
    white-space: break-spaces !important;
}

.datagrid .yui-dt-liner {
    font: 11px/1.231 arial,helvetica,clean,sans-serif;
    padding: 2px;
}